/* https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  font-weight: bold;
  text-decoration: underline;
  color: brown;
}
/* app */
.app__sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* menu */
.menu {
  align-items: center;
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-left: 10px;
  overflow: scroll;
}

.menu__list {
  margin: 10px;
}

.menu__item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 200px;
}
.menu__item--label {
  margin: 0px;
  float: left;
}

.menu__item--content {
  margin: 0px;
  float: right;
}

.menu__item:hover {
  box-shadow: 0 0 4px #b6b6b6;
}

/* cart */
.cart {
  border: 1px solid darkblue;
  max-height: 75vh;
  margin: 0px 10px 10px 50px;
  overflow: scroll;
  padding: 5px;
  width: 250px;
}

.cart__item {
  background: #f9eddd;
  margin: 5px;
  padding: 5px 10px 10px;
}

.cart__item--cart-empty-msg {
  margin: 50px;
  background: lightgoldenrodyellow;
}

.cart__item--qty-icon {
  vertical-align: middle;
}

.cart__item--qty-ip {
  background: lightgoldenrodyellow;
  font-weight: bold;
  text-align: center;
  width: 20px;
}

.cart__item--cartTotal{
  margin-top: 10px;
}
