body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* app */
.app__sections{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* menu */
/* https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/ */
.menu {
  align-items: center;
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 3px;
  overflow: scroll;
}

.menu__title {
  align-items: center;
  margin-bottom: 20px;
}

.menu__list {
  margin: 10px;
}

.menu__item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 200px;
}
.menu__item--label{
  margin: 0px;
  float: left;
}

.menu__item--content{
  margin: 0px;
  float: right;
}

.menu__item:hover {
  box-shadow: 0 0 4px #b6b6b6;
}
