body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* menu */
.menu {
  align-items: center;
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.menu-title {
  align-items: center;
  margin-bottom: 20px;
}

.menu-list {
  margin: 10px;
}

.menu-item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
}

.menu-item:hover {
  box-shadow: 0 0 4px #b6b6b6;
}
